.centred {
  display: flex;
  align-items: center;
  justify-content: center;
}

header .login-singup .btn-sing, header .login-singup .btn-log {
  text-decoration: none;
  font-weight: 700;
  border-radius: 2rem;
  color: hsl(257, 7%, 63%);
}
header .login-singup .btn-sing:hover, header .login-singup .btn-log:hover {
  background-color: hsl(180, 66%, 49%);
  color: #fff;
}
@media (max-width: 992px) {
  header .login-singup {
    border-top: 1px solid hsl(0, 0%, 75%);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }
}

footer {
  background-color: hsl(260, 8%, 14%);
}
footer .log-links h3 {
  color: white;
  font-size: 30px;
  font-weight: 700;
}
footer .log-links ul {
  margin-inline: 0;
  padding-inline: 0;
}
footer .log-links ul li {
  list-style: none;
}
footer .log-links ul li a {
  color: hsl(257, 7%, 63%);
  font-size: 18px;
  text-decoration: none;
}
footer .log-links .media {
  display: flex;
  justify-content: center;
  -moz-column-gap: 20px;
       column-gap: 20px;
}

.land {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.land .content-image {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.land .content-image .image, .land .content-image .content {
  flex-basis: 50%;
}
.land .content-image .content .head {
  font-size: 35px;
  font-weight: 700;
}
@media (max-width: 767px) {
  .land .content-image .content .head {
    font-size: 25px;
  }
}
.land .content-image .content p {
  font-size: 18px;
  font-weight: 500;
}
@media (max-width: 767px) {
  .land .content-image .content p {
    font-size: 15px;
  }
}
.land .content-image .content .btn-start {
  background-color: hsl(180, 66%, 49%);
  border-radius: 50px;
  font-weight: 700;
  font-size: 18px;
  color: #fff;
  padding: 10px 30px;
  width: 50%;
}
@media (max-width: 992px) {
  .land .content-image .content {
    text-align: center;
    margin-top: 20px;
  }
}
@media (max-width: 767px) {
  .land .content-image {
    flex-direction: column-reverse;
    width: 100%;
  }
}
.land .form-input {
  width: 60%;
  padding: 3rem 1.5rem;
  background-image: url("../../img/bg-boost-desktop.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  background-color: hsl(257, 27%, 26%);
  left: 50%;
  transform: translateX(-50%);
  bottom: -4rem;
  border-radius: 5px;
}
@media (max-width: 992px) {
  .land .form-input {
    flex-direction: column-reverse;
    width: 85%;
    bottom: -8rem;
  }
}
.land .form-input input {
  width: 70%;
  font-size: 18px;
  padding: 6px 4px;
  border-radius: 6px;
  border: none;
  outline: none;
}
@media (max-width: 767px) {
  .land .form-input input {
    width: 90%;
  }
}
.land .form-input button {
  width: 20%;
}
@media (max-width: 767px) {
  .land .form-input button {
    width: 90%;
  }
}

.statistics {
  background-color: hsl(0, 0%, 75%);
  padding-top: 10rem;
  padding-bottom: 1.5rem;
  text-align: center;
}
.statistics .contain {
  margin-bottom: 1.5rem;
}
.statistics .contain h1 {
  font-size: 35px;
  font-weight: 700;
}
.statistics .contain p {
  font-size: 18px;
  font-weight: 500;
  color: hsl(257, 7%, 63%);
}
.statistics .boxes {
  display: flex;
  justify-content: space-between;
  -moz-column-gap: 25px;
       column-gap: 25px;
  margin-top: 90px;
}
@media (max-width: 767px) {
  .statistics .boxes {
    flex-direction: column;
    -moz-column-gap: 0px;
         column-gap: 0px;
    row-gap: 65px;
  }
}
.statistics .boxes .box {
  position: relative;
  height: -moz-fit-content;
  height: fit-content;
  padding: 60px 15px 20px 15px;
  text-align: start;
  background-color: #fff;
  border-radius: 4px;
  position: relative;
}
.statistics .boxes .box .image-parent {
  position: absolute;
  top: -40px;
  left: 20px;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: hsl(260, 8%, 14%);
}
@media (max-width: 767px) {
  .statistics .boxes .box .image-parent {
    left: 50%;
    transform: translateX(-50%);
  }
}
.statistics .boxes .box h2 {
  font-size: 30px;
  font-weight: 700;
  margin-block: 2rem;
}
.statistics .boxes .box p {
  font-size: 18px;
  font-weight: 500;
  color: hsl(257, 7%, 63%);
  margin-bottom: 1rem;
}
.statistics .boxes .box:nth-of-type(2) {
  margin-top: 38px;
}
@media (max-width: 767px) {
  .statistics .boxes .box:nth-of-type(2) {
    margin-top: 0px;
  }
}
.statistics .boxes .box:last-of-type {
  margin-top: 76px;
}
@media (max-width: 767px) {
  .statistics .boxes .box:last-of-type {
    margin-top: 0px;
  }
}
.statistics .boxes .box:not(:last-of-type)::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 8px;
  right: -25px;
  bottom: 50%;
  transform: translateY(-50%);
  background-color: hsl(180, 66%, 49%);
}
@media (max-width: 767px) {
  .statistics .boxes .box:not(:last-of-type)::before {
    height: 25px;
    width: 8px;
    bottom: -25px;
    right: calc(50% - 6px);
    transform: translate(-50%, 0);
  }
}

.last-section {
  background-image: url(../img/bg-boost-desktop.svg);
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  padding-block: 3rem;
  background-color: hsl(257, 27%, 26%);
}
@media (max-width: 992px) {
  .last-section {
    background-image: url(../img/bg-boost-mobile.svg);
  }
}
.last-section .btn-start {
  background-color: hsl(180, 66%, 49%);
  border-radius: 50px;
  font-weight: 700;
  font-size: 18px;
  color: #fff;
  padding: 10px 30px;
  width: 20%;
  margin-top: 1.5rem;
}
@media (max-width: 767px) {
  .last-section .btn-start {
    width: 40%;
  }
}
@media (max-width: 480px) {
  .last-section .btn-start {
    width: 60%;
  }
}/*# sourceMappingURL=main.css.map */